# Node.js
node_modules

.env

dist

client/node_modules/
server/node_modules/

# Build output
client/build/
server/dist/

# Environment variables
client/.env
server/.env

# Editor and IDE files
.vscode/
.idea/
*.swp

# Log files
*.log

# macOS-specific files
.DS_Store

# Windows-specific files
Thumbs.db

# Miscellaneous
*.tmp
